= form_for @period do |f|
  = error_messages_for @period
  .form-actions.bottom20
    = f.submit nil, class: 'btn btn-primary'
  .row
    .col-md-6
      .form-group
        = f.label :dateofentrance
        .input-group.date.datepicker
          = f.text_field(:dateofentrance, value: lnil(f.object.dateofentrance),
          class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
    .col-md-6
      .form-group
        = f.label :reasonofentrance
        = f.text_area :reasonofentrance, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :dateofissue
        .input-group.date.datepicker
          = f.text_field(:dateofissue, value: lnil(f.object.dateofissue),
          class: 'form-control')
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar
    .col-md-6
      .form-group
        = f.label :dischargesummary
        = f.text_area :dischargesummary, class: 'form-control'
    .row
    .col-md-6
      .form-group
        = f.label :ward_id, {id: 'ward_label'}
        = f.select :ward_id, Ward.all.map{|x| [x.nomer,x.id]},{include_blank: true},  {class: 'form-control', id: 'ward_select'}
        = f.error_messages_for(:ward_id)
  - if @current_role_user.present? and @current_role_user.is_admin?          
    = f.fields_for(:card) do |f|
      = f.hidden_field :id
      = render('periods/card_form', f: f)
    
   
 
  

