= form_for @period do |f|
  - if @period.errors.any?
    #error_explanation
      %h2= "#{pluralize(@period.errors.count, "error")} prohibited this period from being saved:"
      %ul
        - @period.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :dateofentrance
    = f.date_select :dateofentrance
  .field
    = f.label :reasonofentrance
    = f.text_area :reasonofentrance
  .field
    = f.label :dateofissue
    = f.date_select :dateofissue
  .field
    = f.label :dischargesummary
    = f.text_area :dischargesummary
  .field
    = f.label :card_id
    = f.text_field :card_id
  .field
    = f.label :ward_id
    = f.text_field :ward_id
  .actions
    = f.submit 'Save'
