=breadcrumb_tag do
  %li
    Навигация
  %li.active
    Список амб.периодов
.row.hidden-sm.hidden-xs
  .page-header
    %h1= t('headers.periods.index') 
  
  %table.table.table-hover.table-striped.center
    %caption
      - if is_admin? || is_operator?
        = link_to new_period_path, class: 'btn btn-success' do
          = fa_icon :plus
          = t('buttons.new.period')   
    %thead
      %tr
        %th= Period.human_attribute_name(:dateofentrance)
        %th= Period.human_attribute_name(:reasonofentrance)
        %th= Period.human_attribute_name(:dateofissue)
        %th= Period.human_attribute_name(:dischargesummary)
        %th= Ward.human_attribute_name(:nomer)
        %th= Card.human_attribute_name(:lastname)
        %th= Card.human_attribute_name(:firstname)
        %th= Card.human_attribute_name(:secondname)
        %th.50
        %th.50  
        %th.50
    %tbody
      - @periods.each do |period|
        %tr
          %td= period.dateofentrance
          %td= period.reasonofentrance
          %td= period.dateofissue
          %td= period.dischargesummary
          %td= period.ward.nomer
          %td= period.card.lastname
          %td= period.card.firstname
          %td= period.card.secondname
          %td
            = link_to period, class: 'btn btn-warning' do
              = fa_icon :eye
              = t('buttons.show')
            - if is_admin? || is_operator?  
              = link_to edit_period_path(period), class: 'btn btn-info' do
                = fa_icon :edit
                = t('buttons.edit')
              = link_to period, :method => :delete, 
              :data => { :confirm => t('buttons.confirm.period') }, 
              class: 'btn btn-danger' do
                = fa_icon :times
                = t('buttons.destroy')
.row.visible-sm.visible-xs
  .page-header
    %h5= t('headers.periods.index')
    
  %table.table.table-hover.table-striped.center
    - if @current_role_user.present? and @current_role_user.is_admin?
      %caption
        = link_to new_period_path, class: 'btn btn-success' do
          = fa_icon :plus
          = t('buttons.new.period') 
    %thead
      %tr
        %th= "Название поля"
        %th= "Информация"
        
    %tbody
      - i=0
      - @periods.each do |period|
        %tr
          %td= "Запись номер " + (i+1).to_s
          - i+=1
          %td
            = link_to period, class: 'btn btn-success' do
              = fa_icon :eye
            - if @current_role_user.present? and @current_role_user.is_admin?   
              = link_to edit_period_path(period), class: 'btn btn-info' do
                = fa_icon :edit
              = link_to period, :method => :delete, 
              :data => { :confirm => t('buttons.confirm.period') }, 
              class: 'btn btn-danger' do
                = fa_icon :times
                = t('buttons.destroy')
        %tr
          %td= Period.human_attribute_name(:dateofentrance)
          %td= period.dateofentrance
        %tr
          %td= Period.human_attribute_name(:reasonofentrance)
          %td= period.reasonofentrance
        %tr
          %td= Period.human_attribute_name(:dateofissue)
          %td= period.dateofissue
        %tr
          %td= Period.human_attribute_name(:dischargesummary)
          %td= period.dischargesummary
        %tr
          %td= Ward.human_attribute_name(:nomer)
          %td= period.ward.nomer
        %tr
          %td= Card.human_attribute_name(:lastname)
          %td= period.card.lastname
        %tr
          %td= Card.human_attribute_name(:firstname)
          %td= period.card.firstname
        %tr
          %td= Card.human_attribute_name(:secondname)
          %td= period.card.secondname
       
