=breadcrumb_tag do
  %li
    = link_to 'Список амб.периодов', periods_path
  %li.active
    = t('headers.periods.new')  
.page-header
  %h1= t('headers.periods.new')

= render 'form'
%br
= link_to 'Назад', periods_path, class: 'btn btn-primary'
