=breadcrumb_tag do
  %li
    = link_to 'Список амб.периодов', periods_path
  %li.active
    = t('headers.periods.show')
%p#notice= notice



%dl
  %dt= Period.human_attribute_name(:dateofentrance)
  %dd= @period.dateofentrance
  
  %dt= Period.human_attribute_name(:reasonofentrance)
  %dd= @period.reasonofentrance
  
  %dt= Period.human_attribute_name(:dateofissue)
  %dd= @period.dateofissue

  %dt= Period.human_attribute_name(:dischargesummary)
  %dd= @period.dischargesummary
  
  %dt= Period.human_attribute_name(:ward_id)
  %dd= @period.ward_id
 
  


= link_to 'Назад', periods_path, class: 'btn btn-primary'
-if is_admin? || is_operator?
  \|
  = link_to 'Редактировать', edit_period_path(@period), class: 'btn btn-primary'
