=breadcrumb_tag do
  %li
    = link_to 'Список карт', cards_path
  %li.active
    = t('headers.cards.new')  
.page-header
  %h1= t('headers.cards.new')

= render 'form'
%br
= link_to 'Назад', cards_path, class: 'btn btn-primary'
