=breadcrumb_tag do
  %li.active
    Список карт
.page-header
  %h1= t('headers.cards.index') 
  
%table.table.table-hover.table-striped
  %caption
    - if is_admin? || is_operator?
      = link_to new_card_path, class: 'btn btn-success' do
        = fa_icon :plus
        = t('buttons.new.card')   
  %thead
    %tr
      %th= Card.human_attribute_name(:lastname)
      %th= Card.human_attribute_name(:firstname)
      %th= Card.human_attribute_name(:secondname)
      %th= Card.human_attribute_name(:nomer)
      %th= Card.human_attribute_name(:insurancepolicy)
      %th= Card.human_attribute_name(:typeoftreatment)
      %th= Card.human_attribute_name(:dateofcreation)
      %th= Card.human_attribute_name(:pindex)
      %th= Card.human_attribute_name(:city)
      %th= Card.human_attribute_name(:street)
      %th= Card.human_attribute_name(:house)
      %th= Card.human_attribute_name(:building)
      %th= Card.human_attribute_name(:flat)
      %th= Card.human_attribute_name(:telephone)
      %th= Card.human_attribute_name(:passportseries)
      %th= Card.human_attribute_name(:passportnumber)
      %th= Card.human_attribute_name(:passsportfrom)
      %th= Card.human_attribute_name(:passportwhen)
      %th= Card.human_attribute_name(:allergy)
      %th

  %tbody
    - @cards.each do |card|
      %tr
        %td.center= card.lastname
        %td.center= card.firstname
        %td.center= card.secondname
        %td.center= card.nomer
        %td.center= card.insurancepolicy
        %td.center= card.typeoftreatment
        %td.center= card.dateofcreation
        %td.center= card.pindex
        %td.center= card.city
        %td.center= card.street
        %td.center= card.house
        %td.center= card.building
        %td.center= card.flat
        %td.center= card.telephone
        %td.center= card.passportseries
        %td.center= card.passportnumber
        %td.center= card.passsportfrom
        %td.center= card.passportwhen
        %td.center= card.allergy
        %td.right
          = link_to card, class: 'btn btn-warning' do
            = fa_icon :eye
            = t('buttons.show')
          - if is_admin? || is_operator?  
            = link_to edit_card_path(card), class: 'btn btn-info' do
              = fa_icon :edit
              = t('buttons.edit')
            = link_to card, :method => :delete, 
            :data => { :confirm => t('buttons.confirm.card') }, 
            class: 'btn btn-danger' do
              = fa_icon :times
              = t('buttons.destroy')
