= form_for @ward do |f|
  = error_messages_for @ward
  .row
    .col-md-6
      .form-group
        = f.label :floor
        = f.text_area :floor, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :nomer
        = f.text_area :nomer, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :otdel
        = f.text_area :otdel, class: 'form-control'
    .col-md-6
      .form-group
        = f.label :capacity
        = f.text_area :capacity, class: 'form-control'
  
  .actions.margin-small-top
    = f.submit nil, class: 'btn btn-primary'
