%h1 Listing wards

%table
  %thead
    %tr
      %th Floor
      %th Nomer
      %th Otdel
      %th Capacity
      %th
      %th
      %th

  %tbody
    - @wards.each do |ward|
      %tr
        %td= ward.floor
        %td= ward.nomer
        %td= ward.otdel
        %td= ward.capacity
        %td= link_to 'Show', ward
        %td= link_to 'Edit', edit_ward_path(ward)
        %td= link_to 'Destroy', ward, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ward', new_ward_path
