=breadcrumb_tag do
  %li
    = link_to 'Список палат', wards_path
  %li.active
    = t('headers.wards.new')  
.page-header
  %h1= t('headers.wards.new')

= render 'form'
%br
= link_to 'Назад', wards_path, class: 'btn btn-primary'
