=breadcrumb_tag do
  %li
    = link_to 'Список палат', wards_path
  %li.active
    = t('headers.wards.show')
%p#notice= notice



%dl
  %dt= Ward.human_attribute_name(:floor)
  %dd= @ward.floor
  
  %dt= Ward.human_attribute_name(:nomer)
  %dd= @ward.nomer
  
  %dt= Ward.human_attribute_name(:otdel)
  %dd= @ward.otdel

  %dt= Ward.human_attribute_name(:capacity)
  %dd= @ward.capacity
  


= link_to 'Назад', wards_path, class: 'btn btn-primary'
-if is_admin? || is_operator?
  \|
  = link_to 'Редактировать', edit_ward_path(@ward), class: 'btn btn-primary'
